{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"printWidth": 80,
	"overrides": [
		{
			"files": ["packages/content/**/*", "packages/contents/**/*"],
			"options": {
				"printWidth": 200
			}
		}
	]
}
